@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-900 font-sans;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, rgba(0, 86, 210, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(0, 86, 210, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}
